@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400..700&family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #121212;
  --pink: #fb2e86;
  --dark-pink: #d31e6f;
  --red: #fb2448;
  --green: #08d15f;
  --dark-green: #00a84f;
  --blue: #2f1ac4;
  --navy-blue: #151875;
  --off-navy-blue: #3f509e;
  --purple: #7e33e0;
  --off-purple: #9f63b5;
  --pantone-purple: #e0d3f5;
  --sky-blue-0: #f3f9ff;
  --sky-blue-100: #f1f0ff;
  --text: #151875;
  --sub-text: #8a8fb9;
  --section-hover: #2f1ac4;
  --sale-tag-color: #3f509e;
  --price-tag-color: #fb2448;
  --violet: #7e33e0;
  --page-bottom-color: #e0d3f5;
  --logo-color: #0d0e43;
  --border: #e7e6ef;
  --font-josefin: 'Josefin Sans', sans-serif;
  --font-lato: 'Lato', sans-serif;
}

body {
  font-family: var(--font-lato);
  font-size: 16px;
  line-height: 1.6;
  color: var(--text);
  background-color: var(--white);
}

/* ! reusable style start */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.btn {
  cursor: pointer;
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  font-family: var(--font-josefin);
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  height: 3.25rem;
  line-height: 3.25rem;
  padding: 0 2.75rem;
  white-space: nowrap;
}
.btn-sm {
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 2.5rem;
}
.btn-lg {
  height: 3.75em;
  line-height: 3.75 em;
  padding: 0 3rem;
}
.btn-pink {
  background-color: var(--pink);
  color: var(--white);
  &:hover {
    background-color: var(--dark-pink);
  }
}
.btn-green {
  background-color: var(--green);
  color: var(--white);
  &:hover {
    background-color: var(--dark-green);
  }
}
img {
  max-width: 100%;
}
.title {
  text-align: center;
  font-family: var(--font-josefin);
  font-weight: 700;
  font-size: 2.5rem;
}
/* ! reusable style end */

/* ! header start */
header {
  position: sticky;
  top: -3.375rem;
  z-index: 1000;
}
.header-top {
  background-color: var(--purple);
  padding: 0.875rem 0;
  color: var(--white);
  font-family: var(--font-josefin);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  a {
    color: var(--white);
    text-decoration: none;
  }
  .left {
    display: flex;
    align-items: center;
    span {
      &:first-child {
        margin-right: 3rem;
      }
      i {
        margin-right: 0.625rem;
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    gap: 1rem;
    span {
      cursor: pointer;
      i {
        font-size: 0.75rem;
        margin-left: 0.25rem;
      }
    }
  }
}
.header-bottom {
  background-color: var(--white);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .left {
    display: flex;
    align-items: center;
    .logo {
      font-size: 2rem;
      font-family: var(--font-josefin);
      font-weight: 700;
      text-decoration: none;
      color: var(--logo-color);
      margin-right: 5.5rem;
    }
    .menu {
      list-style: none;
      display: flex;
      gap: 2rem;
      a {
        color: inherit;
        text-decoration: none;
        i {
          font-size: 0.75rem;
        }
        &.active {
          color: var(--pink);
        }
      }
    }
  }
  .right {
    .search-box {
      height: 2.5rem;
      display: flex;
      input {
        appearance: none;
        border: 2px solid var(--border);
        border-right: none;
        outline: none;
        width: 15rem;
        height: 100%;
        padding: 0.5rem 1rem;
        &:focus {
          border-color: var(--pink);
        }
      }
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 100%;
        background-color: var(--pink);
        color: var(--white);
      }
    }
  }
}
/* ! header end */

/* ! hero section start */
.hero {
  background-color: #f2f0ff;
  padding: 4rem 0;
  .container {
    display: flex;
    align-items: center;
    position: relative;
  }
  .left {
    flex: 1;
    img {
      position: absolute;
      right: calc(100% - 1rem);
      top: calc(0% - 4rem);
      width: 11.5rem;
      height: auto;
    }
    p {
      &:first-of-type {
        color: var(--pink);
        margin-bottom: 0.75rem;
        font-weight: 700;
      }
      &:last-of-type {
        color: var(--sub-text);
        margin-bottom: 1.75rem;
      }
    }
    h1 {
      color: var(--black);
      font-family: var(--font-josefin);
      font-size: 3.25rem;
      line-height: 1.2;
    }
  }
  .right {
    max-width: 30rem;
    width: 100%;
    .hero-image {
      position: relative;
      img {
        position: relative;
        z-index: 1;
      }
      span {
        &:first-of-type {
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: rgb(236, 210, 250, 0.35);
            z-index: 0;
          }
          &::after {
            content: '';
            position: absolute;
            top: -2rem;
            left: 2rem;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: rgb(236, 210, 250, 0.35);
            z-index: 0;
          }
        }
        &:last-of-type {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
          background-color: #00c1fe;
          color: var(--white);
          font-family: var(--font-josefin);
          font-weight: 700;
          font-size: 2rem;
          text-align: center;
          line-height: 1.2;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 8.5rem;
          width: 8.5rem;
          padding: 0 1rem;
        }
      }
    }
  }
}
/* ! hero section end */

/* ! feature product section start */
.featured-product {
  padding-top: 8.125rem;
  padding-bottom: 3rem;
  .title {
    margin-bottom: 3rem;
  }
  .featured-product-wrapper {
    display: flex;
    gap: 1.75rem;
    .product-item {
      width: 25%;
      text-align: center;
      box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
      .image {
        background-color: #f6f7fb;
        position: relative;
        padding-top: 100%;
        overflow: hidden;
        .actions {
          position: absolute;
          z-index: 1;
          display: flex;
          top: 1rem;
          right: -6rem;
          transition: right 0.15s ease-in-out;
          span {
            font-size: 0.75rem;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: background-color 0.25s ease-in-out;
            color: #1389ff;
            &:hover {
              background-color: #eeeffb;
            }
            &:last-child {
              color: var(--section-hover);
            }
          }
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .btn {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -4rem;
          transition: bottom 0.15s ease-in-out;
        }
      }
      &:hover {
        .image {
          .actions {
            right: 1rem;
          }
          .btn {
            bottom: 1rem;
          }
        }
      }
      .info {
        padding: 1rem;
        transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
        h5 {
          font-size: 1.125rem;
          font-weight: 700;
          color: var(--pink);
        }
        .colors {
          margin: 0.5rem 0;
          display: flex;
          justify-content: center;
          gap: 0.25rem;
          span {
            width: 0.875rem;
            height: 0.25rem;
            border-radius: 0.625rem;
            background-color: attr(data-color-hex);
          }
        }
        small {
          font-family: var(--font-josefin);
        }
        small,
        p {
          font-size: 0.875rem;
        }
      }
      &:hover {
        .info {
          background-color: var(--blue);
          color: var(--white);
        }
      }
    }
  }
}
/* ! feature product section end */

/* ! latest product section start */
.latest-product {
  margin-bottom: 3.5rem;
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 0 3.5rem;
    margin-bottom: 3.5rem;
    li {
      font-size: 1.125rem;
      cursor: pointer;
      &.active {
        color: var(--pink);
        text-decoration: underline;
      }
    }
  }
  .latest-product-wrapper {
    display: flex;
    flex-wrap: wrap;
    a {
      text-decoration: none;
      color: inherit;
      width: 33.3333%;
      padding: 0 0.875rem 2.5rem;
    }
    .product-item {
      .image {
        background-color: #f6f7fb;
        position: relative;
        padding-top: 100%;
        overflow: hidden;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .actions {
          position: absolute;
          z-index: 1;
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
          bottom: 1rem;
          left: -6rem;
          transition: left 0.15s ease-in-out;
          span {
            font-size: 0.75rem;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: background-color 0.25s ease-in-out;
            color: var(--section-hover);
            &:hover {
              background-color: #eeeffb;
            }
          }
        }
      }
      &:hover {
        .image {
          .actions {
            left: 1rem;
          }
        }
      }
      .info {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        font-family: var(--font-josefin);
        p {
          flex: 1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-decoration: underline #eeeffb solid 2px;
          text-underline-offset: 0.25rem;
        }
        div {
          span {
            &:first-child {
              font-size: 0.875rem;
            }
            &:last-child {
              font-size: 0.75rem;
              color: var(--price-tag-color);
              text-decoration: line-through;
            }
          }
        }
      }
    }
  }
}
/* ! latest product section end */

/* ! offer section start */
.offer {
  margin-bottom: 8.25rem;
  .title {
    margin-bottom: 3.25rem;
  }
  .offer-wrapper {
    display: flex;
    gap: 1.75rem;
    .offer-item {
      width: 25%;
      padding: 2.75rem 1.75rem;
      text-align: center;
      box-shadow: 0 0.5rem 2.5rem rgba(49, 32, 138, 0.05);
      img {
        width: 4rem;
      }
      h4 {
        margin: 1rem 0;
        font-family: var(--font-josefin);
        font-weight: 600;
        font-size: 1.375rem;
      }
      p {
        color: var(--sub-text);
        font-weight: 500;
      }
    }
  }
}
/* ! offer section end */

/* ! features section start */
.feature {
  background-color: var(--sky-blue-0);
  padding: 2rem 0;
  .container {
    display: flex;
    align-items: center;
  }
  .left {
    max-width: 30rem;
    width: 100%;
    .hero-image {
      position: relative;
      margin-left: 5rem;
      img {
        position: relative;
        z-index: 1;
      }
      span {
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background-color: rgb(236, 210, 250, 0.35);
          z-index: 0;
        }
      }
    }
  }
  .right {
    flex: 1;
    padding-left: 3rem;
    h1 {
      font-family: var(--font-josefin);
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 1.875rem;
    }
    ul {
      list-style: none;
      margin-bottom: 2.5rem;
      li {
        display: flex;
        margin-bottom: 0.75rem;
        color: var(--sub-text);
        &:first-child {
          span {
            background-color: #f52b70;
          }
        }
        &:nth-child(2) {
          span {
            background-color: #2b2bf5;
          }
        }
        &:last-child {
          margin-bottom: 0;
          span {
            background-color: #2bf5cc;
          }
        }
        span {
          height: 0.675rem;
          width: 0.675rem;
          border-radius: 50%;
          display: inline-block;
          margin-right: 0.75rem;
          margin-top: 0.5rem;
        }
      }
    }
    .actions {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      div {
        font-family: var(--font-josefin);
        display: flex;
        flex-direction: column;
        font-size: 0.875rem;
        span {
          &:first-child {
            font-weight: 600;
          }
        }
      }
    }
  }
}
/* ! features section end */
